# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
typings/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
/junit/
coverage/
/www/
/builds/
node_modules/
/vendor/
/fastlane/report.xml
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

*.keystore
/build*.json
!/build.example.json
/google-services.json
/GoogleService-Info.plist
/resources
/android-keys
/ios-certs
/ios-keys
/ios-profiles
.env*
.tenant-env
platforms-cache/
/angular.json

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

.angular